<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to best threat awareness site in the Galaxy!</h1>
    <p class="lead">**Please look around and report all threats that are upon us** </p>
  </div>
</div>

<!-- Top Villains List -->
<div class="container">
  <div class="row">
    <div class="col-12 p-4">
      <h1>Villains - Top 3</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 p-2">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" height="350px" width="250px" src="https://vignette.wikia.nocookie.net/villains/images/f/f8/Picture91231321%60.png/revision/latest?cb=20170916134515"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Evil Morty</h5>
          <p class="card-text">"Rick Killer" President of the Citadel of Ricks.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 p-2">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" height="350px" width="250px" src="https://vignette.wikia.nocookie.net/villains/images/4/4c/Tammy_drunk.png/revision/latest/scale-to-width-down/310?cb=20161122025045"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tammy Guetermann</h5>
          <p class="card-text">Spy and Operative for the Galactic Federation (Formerly) Leader of the remnants of the Galactic Federation.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 p-2">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" height="350px" width="250px" src="https://vignette.wikia.nocookie.net/villains/images/2/2b/Toxic_Rick-0.png/revision/latest/scale-to-width-down/310?cb=20170909170241"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Toxic Rick</h5>
          <p class="card-text">Toxicity of Rick Sanchez.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- lína -->
<hr class="m-4">
